body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background: linear-gradient(180deg, #835433 0%, #361f0f 100vh, #361f0f 100%);
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-rows: 100vh auto;
  min-height: 100vh;
  width: 100vw;
}

section {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  grid-row: 1;
}

video {
  width: auto;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: 1;
}

.brand-intro {
  width: 100vw;
  min-height: 40vh;
  display: grid;
  place-items: center;
  padding: 3rem 1rem 2rem 1rem;
  background: #361f0f;
  grid-row: 2;
  text-align: center;
}

@font-face {
  font-family: "RaskalOner Trial";
  src: url("./assets/RaskalOnerTrial-Write.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.brand-intro p {
  font-family: "RaskalOner Trial", sans-serif !important;
}
